body{background-color:pink}
h1{text-align:center;color:blue}
#inputtasks{font-family:calibri;font-size:20px;padding:30px;color:purple}
#add{background-color:yellow;padding:10px}
#tasklist{font-family:arial;font-sie:10px}
#delete{background-color:red;color:white}
#edit{color:green}